/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2019 (15.0.2130)
    Source Database Engine Edition : Microsoft SQL Server Express Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2008 R2
    Target Database Engine Edition : Microsoft SQL Server Express Edition
    Target Database Engine Type : Standalone SQL Server
*/
/****** Object:  Table [COEFFICIENT]    Script Date: 26/05/2025 6:47:30 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[COEFFICIENT]') AND type in (N'U'))
DROP TABLE [COEFFICIENT]
GO
/****** Object:  Table [COEFFICIENT]    Script Date: 26/05/2025 6:47:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [COEFFICIENT](
	[sClass] [smallint] NOT NULL,
	[ShortSword] [float] NOT NULL,
	[Sword] [float] NOT NULL,
	[Axe] [float] NOT NULL,
	[Club] [float] NOT NULL,
	[Spear] [float] NOT NULL,
	[Pole] [float] NOT NULL,
	[Staff] [float] NOT NULL,
	[Bow] [float] NULL,
	[Hp] [float] NOT NULL,
	[Mp] [float] NOT NULL,
	[Sp] [float] NOT NULL,
	[Ac] [float] NOT NULL,
	[Hitrate] [float] NOT NULL,
	[Evasionrate] [float] NOT NULL
) ON [PRIMARY]
GO
INSERT [COEFFICIENT] VALUES (101, 0.0001, 0.00013, 0.00013, 0.00013, 0.00013, 0.00013, 0.0001, 0.0001, 0.0015, 0, 0.0015, 1, 0.01, 0.01)
INSERT [COEFFICIENT] VALUES (102, 0.00015, 0.0001, 0.0001, 0.0001, 0.0001, 0.0001, 0.0001, 0.00015, 0.0005, 0, 0.0015, 1, 0.01, 0.01)
INSERT [COEFFICIENT] VALUES (103, 7E-05, 0, 0, 0, 0, 0, 0.0001, 0, 0.0004, 0.0015, 0, 1, 0.01, 0.01)
GO
