/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2019 (15.0.2130)
    Source Database Engine Edition : Microsoft SQL Server Express Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2008 R2
    Target Database Engine Edition : Microsoft SQL Server Express Edition
    Target Database Engine Type : Standalone SQL Server
*/
ALTER TABLE [ITEMUP_PROBABILITY] DROP CONSTRAINT [DF_ITEMUP_PROBABILITY_nCurFail]
GO
ALTER TABLE [ITEMUP_PROBABILITY] DROP CONSTRAINT [DF_ITEMUP_PROBABILITY_nCurSuccess]
GO
ALTER TABLE [ITEMUP_PROBABILITY] DROP CONSTRAINT [DF_ITEMUP_PROBABILITY_nMaxFail]
GO
ALTER TABLE [ITEMUP_PROBABILITY] DROP CONSTRAINT [DF_ITEMUP_PROBABILITY_nProbability]
GO
/****** Object:  Table [ITEMUP_PROBABILITY]    Script Date: 26/05/2025 6:47:30 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[ITEMUP_PROBABILITY]') AND type in (N'U'))
DROP TABLE [ITEMUP_PROBABILITY]
GO
/****** Object:  Table [ITEMUP_PROBABILITY]    Script Date: 26/05/2025 6:47:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ITEMUP_PROBABILITY](
	[bType] [tinyint] NOT NULL,
	[nMaxSuccess] [smallint] NOT NULL,
	[nMaxFail] [smallint] NOT NULL,
	[nCurSuccess] [smallint] NOT NULL,
	[nCurFail] [smallint] NOT NULL,
 CONSTRAINT [PK_ITEMUP_PROBABILITY] PRIMARY KEY CLUSTERED 
(
	[bType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [ITEMUP_PROBABILITY] ([bType], [nMaxSuccess], [nMaxFail], [nCurSuccess], [nCurFail]) VALUES (1, 1, 1, 1, 1)
GO
ALTER TABLE [ITEMUP_PROBABILITY] ADD  CONSTRAINT [DF_ITEMUP_PROBABILITY_nProbability]  DEFAULT (0) FOR [nMaxSuccess]
GO
ALTER TABLE [ITEMUP_PROBABILITY] ADD  CONSTRAINT [DF_ITEMUP_PROBABILITY_nMaxFail]  DEFAULT (0) FOR [nMaxFail]
GO
ALTER TABLE [ITEMUP_PROBABILITY] ADD  CONSTRAINT [DF_ITEMUP_PROBABILITY_nCurSuccess]  DEFAULT (0) FOR [nCurSuccess]
GO
ALTER TABLE [ITEMUP_PROBABILITY] ADD  CONSTRAINT [DF_ITEMUP_PROBABILITY_nCurFail]  DEFAULT (0) FOR [nCurFail]
GO
