/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2019 (15.0.2130)
    Source Database Engine Edition : Microsoft SQL Server Express Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2008 R2
    Target Database Engine Edition : Microsoft SQL Server Express Edition
    Target Database Engine Type : Standalone SQL Server
*/
/****** Object:  Table [ITEM_EXCHANGE]    Script Date: 26/05/2025 7:28:03 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[ITEM_EXCHANGE]') AND type in (N'U'))
DROP TABLE [ITEM_EXCHANGE]
GO
/****** Object:  Table [ITEM_EXCHANGE]    Script Date: 26/05/2025 7:28:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ITEM_EXCHANGE](
	[nIndex] [int] NOT NULL,
	[nNpcNum] [smallint] NOT NULL,
	[strNpcName] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[strNote] [varchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[bRandomFlag] [tinyint] NOT NULL,
	[nOriginItemNum1] [int] NOT NULL,
	[nOriginItemCount1] [smallint] NOT NULL,
	[nOriginItemNum2] [int] NOT NULL,
	[nOriginItemCount2] [smallint] NOT NULL,
	[nOriginItemNum3] [int] NOT NULL,
	[nOriginItemCount3] [smallint] NOT NULL,
	[nOriginItemNum4] [int] NOT NULL,
	[nOriginItemCount4] [smallint] NOT NULL,
	[nOriginItemNum5] [int] NOT NULL,
	[nOriginItemCount5] [smallint] NOT NULL,
	[nExchangeItemNum1] [int] NOT NULL,
	[nExchangeItemCount1] [smallint] NOT NULL,
	[nExchangeItemNum2] [int] NOT NULL,
	[nExchangeItemCount2] [smallint] NOT NULL,
	[nExchangeItemNum3] [int] NOT NULL,
	[nExchangeItemCount3] [smallint] NOT NULL,
	[nExchangeItemNum4] [int] NOT NULL,
	[nExchangeItemCount4] [smallint] NOT NULL,
	[nExchangeItemNum5] [int] NOT NULL,
	[nExchangeItemCount5] [smallint] NOT NULL
) ON [PRIMARY]
GO
INSERT [ITEM_EXCHANGE] VALUES (1, 14301, N'????', N'??', 0, 379048000, 5, 0, 0, 0, 0, 0, 0, 0, 0, 120110992, 1, 389011000, 10, 389017000, 10, 0, 0, 0, 0)
INSERT [ITEM_EXCHANGE] VALUES (2, 14301, N'????', N'??', 0, 379048000, 5, 0, 0, 0, 0, 0, 0, 0, 0, 110110992, 1, 389011000, 10, 389017000, 10, 0, 0, 0, 0)
INSERT [ITEM_EXCHANGE] VALUES (3, 14301, N'????', N'???', 0, 379048000, 5, 0, 0, 0, 0, 0, 0, 0, 0, 180110992, 1, 389011000, 10, 389017000, 10, 0, 0, 0, 0)
GO
