/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2019 (15.0.2130)
    Source Database Engine Edition : Microsoft SQL Server Express Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2008 R2
    Target Database Engine Edition : Microsoft SQL Server Express Edition
    Target Database Engine Type : Standalone SQL Server
*/
/****** Object:  Table [K_MONSTER]    Script Date: 26/05/2025 6:47:30 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[K_MONSTER]') AND type in (N'U'))
DROP TABLE [K_MONSTER]
GO
/****** Object:  Table [K_MONSTER]    Script Date: 26/05/2025 6:47:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [K_MONSTER](
	[sSid] [smallint] NOT NULL,
	[strName] [varchar](30) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[sPid] [smallint] NOT NULL,
	[sSize] [smallint] NOT NULL,
	[iWeapon1] [int] NOT NULL,
	[iWeapon2] [int] NOT NULL,
	[byGroup] [tinyint] NOT NULL,
	[byActType] [tinyint] NOT NULL,
	[byType] [tinyint] NOT NULL,
	[byFamily] [tinyint] NOT NULL,
	[byRank] [tinyint] NOT NULL,
	[byTitle] [tinyint] NOT NULL,
	[iSellingGroup] [int] NOT NULL,
	[sLevel] [smallint] NOT NULL,
	[iExp] [int] NOT NULL,
	[iLoyalty] [int] NOT NULL,
	[iHpPoint] [int] NOT NULL,
	[sMpPoint] [smallint] NOT NULL,
	[sAtk] [smallint] NOT NULL,
	[sAc] [smallint] NOT NULL,
	[sHitRate] [smallint] NOT NULL,
	[sEvadeRate] [smallint] NOT NULL,
	[sDamage] [smallint] NOT NULL,
	[sAttackDelay] [smallint] NOT NULL,
	[bySpeed1] [tinyint] NOT NULL,
	[bySpeed2] [tinyint] NOT NULL,
	[sStandtime] [smallint] NOT NULL,
	[iMagic1] [int] NOT NULL,
	[iMagic2] [int] NOT NULL,
	[iMagic3] [int] NOT NULL,
	[sFireR] [smallint] NOT NULL,
	[sColdR] [smallint] NOT NULL,
	[sLightningR] [smallint] NOT NULL,
	[sMagicR] [smallint] NOT NULL,
	[sDiseaseR] [smallint] NOT NULL,
	[sPoisonR] [smallint] NOT NULL,
	[sLightR] [smallint] NOT NULL,
	[sBulk] [smallint] NOT NULL,
	[byAttackRange] [tinyint] NOT NULL,
	[bySearchRange] [tinyint] NOT NULL,
	[byTracingRange] [tinyint] NOT NULL,
	[iMoney] [int] NOT NULL,
	[sItem] [smallint] NOT NULL,
	[byDirectAttack] [tinyint] NOT NULL,
	[byMagicAttack] [tinyint] NOT NULL,
	[byMoneyType] [tinyint] NOT NULL
) ON [PRIMARY]
GO
INSERT [K_MONSTER] VALUES (6964, N'Acer', 1400, 80, 0, 0, 0, 1, 3, 14, 0, 0, 0, 85, 430750, 0, 179300, 13651, 0, 1407, 261, 649, 2129, 2000, 2, 9, 5000, 300104, 300105, 0, 500, 500, 500, 500, 500, 500, 500, 200, 30, 10, 45, 1940, 6964, 2, 5, 0)
INSERT [K_MONSTER] VALUES (6963, N'Samma', 1300, 500, 130450180, 0, 0, 5, 0, 13, 0, 0, 0, 90, 415675, 0, 208740, 15727, 0, 1490, 299, 745, 4149, 2000, 2, 8, 5000, 0, 0, 0, 500, 500, 500, 500, 500, 500, 500, 300, 5, 10, 60, 2289, 6963, 0, 0, 0)
INSERT [K_MONSTER] VALUES (6962, N'Javana', 1300, 100, 131510000, 0, 0, 5, 0, 13, 0, 0, 0, 65, 177175, 0, 89040, 7155, 0, 1076, 140, 347, 1722, 2000, 2, 8, 5000, 0, 0, 0, 500, 500, 500, 500, 500, 500, 500, 250, 5, 10, 60, 1347, 6962, 0, 0, 0)
GO
