/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2019 (15.0.2130)
    Source Database Engine Edition : Microsoft SQL Server Express Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2008 R2
    Target Database Engine Edition : Microsoft SQL Server Express Edition
    Target Database Engine Type : Standalone SQL Server
*/
/****** Object:  Table [K_NPC_ITEM]    Script Date: 26/05/2025 6:47:30 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[K_NPC_ITEM]') AND type in (N'U'))
DROP TABLE [K_NPC_ITEM]
GO
/****** Object:  Table [K_NPC_ITEM]    Script Date: 26/05/2025 6:47:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [K_NPC_ITEM](
	[sIndex] [smallint] NOT NULL,
	[iItem01] [int] NOT NULL,
	[sPersent01] [smallint] NULL,
	[iItem02] [int] NULL,
	[sPersent02] [smallint] NULL,
	[iItem03] [int] NULL,
	[sPersent03] [smallint] NULL,
	[iItem04] [int] NULL,
	[sPersent04] [smallint] NULL,
	[iItem05] [int] NULL,
	[sPersent05] [smallint] NULL
) ON [PRIMARY]
GO
INSERT [K_NPC_ITEM] VALUES (13405, 6, 8000, 0, 0, 0, 0, 0, 0, 0, 0)
INSERT [K_NPC_ITEM] VALUES (13406, 6, 8000, 0, 0, 0, 0, 0, 0, 0, 0)
INSERT [K_NPC_ITEM] VALUES (21010, 3, 1000, 0, 0, 0, 0, 0, 0, 0, 0)
GO
