/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2019 (15.0.2130)
    Source Database Engine Edition : Microsoft SQL Server Express Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2008 R2
    Target Database Engine Edition : Microsoft SQL Server Express Edition
    Target Database Engine Type : Standalone SQL Server
*/
/****** Object:  Table [KING_CANDIDACY_NOTICE_BOARD]    Script Date: 26/05/2025 6:47:30 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[KING_CANDIDACY_NOTICE_BOARD]') AND type in (N'U'))
DROP TABLE [KING_CANDIDACY_NOTICE_BOARD]
GO
/****** Object:  Table [KING_CANDIDACY_NOTICE_BOARD]    Script Date: 26/05/2025 6:47:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [KING_CANDIDACY_NOTICE_BOARD](
	[strUserID] [varchar](21) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[byNation] [tinyint] NOT NULL,
	[sNoticeLen] [smallint] NOT NULL,
	[strNotice] [varbinary](1024) NOT NULL,
 CONSTRAINT [PK_KING_CANDIDACY_NOTICE_BOARD] PRIMARY KEY CLUSTERED 
(
	[strUserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
