/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2019 (15.0.2130)
    Source Database Engine Edition : Microsoft SQL Server Express Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2008 R2
    Target Database Engine Edition : Microsoft SQL Server Express Edition
    Target Database Engine Type : Standalone SQL Server
*/
/****** Object:  Table [KING_ELECTION_LIST]    Script Date: 26/05/2025 6:47:30 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[KING_ELECTION_LIST]') AND type in (N'U'))
DROP TABLE [KING_ELECTION_LIST]
GO
/****** Object:  Table [KING_ELECTION_LIST]    Script Date: 26/05/2025 6:47:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [KING_ELECTION_LIST](
	[byType] [tinyint] NOT NULL,
	[byNation] [tinyint] NOT NULL,
	[nKnights] [smallint] NULL,
	[strName] [varchar](21) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[nMoney] [int] NOT NULL
) ON [PRIMARY]
GO
INSERT [KING_ELECTION_LIST] VALUES (1, 2, 1, N'test', 1)
GO
