/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2019 (15.0.2130)
    Source Database Engine Edition : Microsoft SQL Server Express Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2008 R2
    Target Database Engine Edition : Microsoft SQL Server Express Edition
    Target Database Engine Type : Standalone SQL Server
*/
/****** Object:  Table [KNIGHTS_CAPE]    Script Date: 26/05/2025 7:31:50 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[KNIGHTS_CAPE]') AND type in (N'U'))
DROP TABLE [KNIGHTS_CAPE]
GO
/****** Object:  Table [KNIGHTS_CAPE]    Script Date: 26/05/2025 7:31:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [KNIGHTS_CAPE](
	[sCapeIndex] [smallint] NOT NULL,
	[strName] [varchar](30) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[nBuyPrice] [int] NOT NULL,
	[nDuration] [int] NOT NULL,
	[byGrade] [tinyint] NOT NULL
) ON [PRIMARY]
GO
INSERT [KNIGHTS_CAPE] VALUES (0, N'±âº»¸ÁÅä', 0, 0, 3)
INSERT [KNIGHTS_CAPE] VALUES (1, N'black', 20000000, 0, 3)
INSERT [KNIGHTS_CAPE] VALUES (2, N'blue', 50000000, 0, 2)
GO
