/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2019 (15.0.2130)
    Source Database Engine Edition : Microsoft SQL Server Express Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2008 R2
    Target Database Engine Edition : Microsoft SQL Server Express Edition
    Target Database Engine Type : Standalone SQL Server
*/
/****** Object:  Table [MAGIC_TYPE2]    Script Date: 26/05/2025 7:15:02 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[MAGIC_TYPE2]') AND type in (N'U'))
DROP TABLE [MAGIC_TYPE2]
GO
/****** Object:  Table [MAGIC_TYPE2]    Script Date: 26/05/2025 7:15:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [MAGIC_TYPE2](
	[iNum] [int] NOT NULL,
	[Name] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Description] [varchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[HitType] [tinyint] NOT NULL,
	[HitRate] [smallint] NOT NULL,
	[AddDamage] [smallint] NOT NULL,
	[AddRange] [smallint] NOT NULL,
	[NeedArrow] [tinyint] NOT NULL,
	[AddDamagePlus] [smallint] NULL
) ON [PRIMARY]
GO
INSERT [MAGIC_TYPE2] VALUES (207540, N'arc shot', N'', 0, 100, 250, 100, 1, 0)
INSERT [MAGIC_TYPE2] VALUES (207545, N'explosive shot', N'', 0, 100, 100, 100, 1, 0)
INSERT [MAGIC_TYPE2] VALUES (207550, N'viper', N'', 0, 100, 100, 100, 1, 0)
GO
