/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2019 (15.0.2130)
    Source Database Engine Edition : Microsoft SQL Server Express Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2008 R2
    Target Database Engine Edition : Microsoft SQL Server Express Edition
    Target Database Engine Type : Standalone SQL Server
*/
/****** Object:  Table [MAGIC_TYPE1]    Script Date: 26/05/2025 7:15:02 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[MAGIC_TYPE1]') AND type in (N'U'))
DROP TABLE [MAGIC_TYPE1]
GO
/****** Object:  Table [MAGIC_TYPE1]    Script Date: 26/05/2025 7:15:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [MAGIC_TYPE1](
	[iNum] [int] NOT NULL,
	[Name] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Description] [varchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Type] [tinyint] NOT NULL,
	[HitRate] [smallint] NOT NULL,
	[Hit] [smallint] NOT NULL,
	[AddDamage] [smallint] NOT NULL,
	[Delay] [tinyint] NOT NULL,
	[ComboType] [tinyint] NOT NULL,
	[ComboCount] [tinyint] NOT NULL,
	[ComboDamage] [smallint] NOT NULL,
	[Range] [smallint] NOT NULL
) ON [PRIMARY]
GO
INSERT [MAGIC_TYPE1] VALUES (106515, N'pierce', N'', 1, 100, 100, 0, 100, 0, 1, 0, 0)
INSERT [MAGIC_TYPE1] VALUES (106520, N'leg cutting', N'', 0, 100, 100, 0, 100, 0, 1, 0, 0)
INSERT [MAGIC_TYPE1] VALUES (106525, N'Carving', N'', 0, 100, 200, 0, 100, 0, 1, 0, 0)
GO
