/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2019 (15.0.2130)
    Source Database Engine Edition : Microsoft SQL Server Express Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2008 R2
    Target Database Engine Edition : Microsoft SQL Server Express Edition
    Target Database Engine Type : Standalone SQL Server
*/
/****** Object:  Table [MAGIC_TYPE6]    Script Date: 26/05/2025 7:12:21 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[MAGIC_TYPE6]') AND type in (N'U'))
DROP TABLE [MAGIC_TYPE6]
GO
/****** Object:  Table [MAGIC_TYPE6]    Script Date: 26/05/2025 7:12:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [MAGIC_TYPE6](
	[iNum] [int] NOT NULL,
	[Name] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Description] [varchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Size] [smallint] NOT NULL,
	[TransformID] [smallint] NOT NULL,
	[Duration] [smallint] NOT NULL,
	[MaxHp] [smallint] NOT NULL,
	[MaxMp] [smallint] NOT NULL,
	[Speed] [tinyint] NOT NULL,
	[AttackSpeed] [smallint] NOT NULL,
	[TotalHit] [smallint] NOT NULL,
	[TotalAc] [smallint] NOT NULL,
	[TotalHitRate] [smallint] NOT NULL,
	[TotalEvasionRate] [smallint] NOT NULL,
	[TotalFireR] [smallint] NOT NULL,
	[TotalColdR] [smallint] NOT NULL,
	[TotalLightningR] [smallint] NOT NULL,
	[TotalMagicR] [smallint] NOT NULL,
	[TotalDiseaseR] [smallint] NOT NULL,
	[TotalPoisonR] [smallint] NOT NULL,
	[Class] [smallint] NOT NULL,
	[UserSkillUse] [tinyint] NOT NULL,
	[NeedItem] [tinyint] NOT NULL,
	[SkillSuccessRate] [tinyint] NOT NULL,
	[MonsterFriendly] [tinyint] NOT NULL
) ON [PRIMARY]
GO
INSERT [MAGIC_TYPE6] VALUES (470040, N'Bulture', N'', 180, 200, 5400, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1111, 1, 1, 0, 1)
INSERT [MAGIC_TYPE6] VALUES (470050, N'Zombie', N'', 100, 1000, 5400, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1111, 1, 1, 0, 1)
INSERT [MAGIC_TYPE6] VALUES (470060, N'Werewolf', N'', 120, 500, 5400, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1111, 1, 1, 0, 1)
GO
