/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2019 (15.0.2130)
    Source Database Engine Edition : Microsoft SQL Server Express Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2008 R2
    Target Database Engine Edition : Microsoft SQL Server Express Edition
    Target Database Engine Type : Standalone SQL Server
*/
ALTER TABLE [MAKE_ITEM] DROP CONSTRAINT [DF_MAKE_ITEM_byItemLevel]
GO
/****** Object:  Table [MAKE_ITEM]    Script Date: 26/05/2025 6:47:30 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[MAKE_ITEM]') AND type in (N'U'))
DROP TABLE [MAKE_ITEM]
GO
/****** Object:  Table [MAKE_ITEM]    Script Date: 26/05/2025 6:47:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [MAKE_ITEM](
	[sIndex] [smallint] NOT NULL,
	[strItemInfo] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[iItemCode] [int] NOT NULL,
	[byItemLevel] [tinyint] NOT NULL
) ON [PRIMARY]
GO
INSERT [MAKE_ITEM] VALUES (9845, N'95', 410, 18)
INSERT [MAKE_ITEM] VALUES (9846, N'96', 410, 18)
INSERT [MAKE_ITEM] VALUES (9847, N'97', 410, 18)
GO
ALTER TABLE [MAKE_ITEM] ADD  CONSTRAINT [DF_MAKE_ITEM_byItemLevel]  DEFAULT (0) FOR [byItemLevel]
GO
