/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2019 (15.0.2130)
    Source Database Engine Edition : Microsoft SQL Server Express Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2008 R2
    Target Database Engine Edition : Microsoft SQL Server Express Edition
    Target Database Engine Type : Standalone SQL Server
*/
/****** Object:  Table [MAKE_DEFENSIVE]    Script Date: 26/05/2025 6:47:30 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[MAKE_DEFENSIVE]') AND type in (N'U'))
DROP TABLE [MAKE_DEFENSIVE]
GO
/****** Object:  Table [MAKE_DEFENSIVE]    Script Date: 26/05/2025 6:47:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [MAKE_DEFENSIVE](
	[byLevel] [tinyint] NOT NULL,
	[sClass_1] [smallint] NULL,
	[sClass_2] [smallint] NULL,
	[sClass_3] [smallint] NULL,
	[sClass_4] [smallint] NULL,
	[sClass_5] [smallint] NULL,
	[sClass_6] [smallint] NULL,
	[sClass_7] [smallint] NULL
) ON [PRIMARY]
GO
INSERT [MAKE_DEFENSIVE] VALUES (0, 1000, 0, 0, 0, 0, 0, 0)
INSERT [MAKE_DEFENSIVE] VALUES (1, 600, 400, 0, 0, 0, 0, 0)
INSERT [MAKE_DEFENSIVE] VALUES (2, 400, 600, 0, 0, 0, 0, 0)
GO
