/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2019 (15.0.2130)
    Source Database Engine Edition : Microsoft SQL Server Express Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2008 R2
    Target Database Engine Edition : Microsoft SQL Server Express Edition
    Target Database Engine Type : Standalone SQL Server
*/
ALTER TABLE [MONSTER_CHALLENGE_SUMMON_LIST] DROP CONSTRAINT [DF_MONSTER_CHALLENGE_SUMMON_LIST_bStageLevel]
GO
/****** Object:  Table [MONSTER_CHALLENGE_SUMMON_LIST]    Script Date: 26/05/2025 6:47:30 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[MONSTER_CHALLENGE_SUMMON_LIST]') AND type in (N'U'))
DROP TABLE [MONSTER_CHALLENGE_SUMMON_LIST]
GO
/****** Object:  Table [MONSTER_CHALLENGE_SUMMON_LIST]    Script Date: 26/05/2025 6:47:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [MONSTER_CHALLENGE_SUMMON_LIST](
	[sIndex] [smallint] NOT NULL,
	[bLevel] [tinyint] NOT NULL,
	[bStage] [tinyint] NOT NULL,
	[bStageLevel] [tinyint] NOT NULL,
	[sTime] [smallint] NOT NULL,
	[sSid] [smallint] NOT NULL,
	[sCount] [smallint] NOT NULL,
	[sPosX] [smallint] NOT NULL,
	[sPosZ] [smallint] NOT NULL,
	[bRange] [tinyint] NOT NULL
) ON [PRIMARY]
GO
INSERT [MONSTER_CHALLENGE_SUMMON_LIST] VALUES (0, 1, 1, 1, 310, 2903, 30, 126, 126, 45)
INSERT [MONSTER_CHALLENGE_SUMMON_LIST] VALUES (1, 1, 2, 1, 320, 1673, 30, 126, 126, 45)
INSERT [MONSTER_CHALLENGE_SUMMON_LIST] VALUES (2, 1, 3, 1, 360, 1690, 30, 126, 126, 45)
GO
ALTER TABLE [MONSTER_CHALLENGE_SUMMON_LIST] ADD  CONSTRAINT [DF_MONSTER_CHALLENGE_SUMMON_LIST_bStageLevel]  DEFAULT (0) FOR [bStageLevel]
GO
