/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2019 (15.0.2130)
    Source Database Engine Edition : Microsoft SQL Server Express Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2008 R2
    Target Database Engine Edition : Microsoft SQL Server Express Edition
    Target Database Engine Type : Standalone SQL Server
*/
/****** Object:  Table [START_POSITION]    Script Date: 26/05/2025 6:47:30 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[START_POSITION]') AND type in (N'U'))
DROP TABLE [START_POSITION]
GO
/****** Object:  Table [START_POSITION]    Script Date: 26/05/2025 6:47:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [START_POSITION](
	[ZoneID] [smallint] NOT NULL,
	[sKarusX] [smallint] NOT NULL,
	[sKarusZ] [smallint] NOT NULL,
	[sElmoradX] [smallint] NOT NULL,
	[sElmoradZ] [smallint] NOT NULL,
	[bRangeX] [tinyint] NOT NULL,
	[bRangeZ] [tinyint] NOT NULL,
	[sKarusGateX] [smallint] NOT NULL,
	[sKarusGateZ] [smallint] NOT NULL,
	[sElmoGateX] [smallint] NOT NULL,
	[sElmoGateZ] [smallint] NOT NULL
) ON [PRIMARY]
GO
INSERT [START_POSITION] VALUES (1, 441, 1625, 1859, 170, 10, 10, 0, 0, 0, 0)
INSERT [START_POSITION] VALUES (2, 219, 1859, 1595, 412, 10, 10, 0, 0, 0, 0)
INSERT [START_POSITION] VALUES (11, 527, 543, 527, 543, 10, 10, 0, 0, 0, 0)
GO
