/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2019 (15.0.2130)
    Source Database Engine Edition : Microsoft SQL Server Express Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2008 R2
    Target Database Engine Edition : Microsoft SQL Server Express Edition
    Target Database Engine Type : Standalone SQL Server
*/
ALTER TABLE [USER_PERSONAL_RANK] DROP CONSTRAINT [DF_USER_PERSONAL_RANK_nKarusCheck]
GO
ALTER TABLE [USER_PERSONAL_RANK] DROP CONSTRAINT [DF_USER_PERSONAL_RANK_nElmoCheck]
GO
/****** Object:  Table [USER_PERSONAL_RANK]    Script Date: 26/05/2025 7:42:01 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[USER_PERSONAL_RANK]') AND type in (N'U'))
DROP TABLE [USER_PERSONAL_RANK]
GO
/****** Object:  Table [USER_PERSONAL_RANK]    Script Date: 26/05/2025 7:42:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [USER_PERSONAL_RANK](
	[nRank] [smallint] NOT NULL,
	[strPosition] [varchar](21) COLLATE Korean_Wansung_CI_AS NOT NULL,
	[nElmoUP] [smallint] NOT NULL,
	[strElmoUserID] [varchar](21) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[nElmoLoyaltyMonthly] [int] NULL,
	[nElmoCheck] [int] NOT NULL,
	[nKarusUP] [smallint] NOT NULL,
	[strKarusUserID] [varchar](21) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[nKarusLoyaltyMonthly] [int] NULL,
	[nKarusCheck] [int] NOT NULL,
	[nSalary] [int] NOT NULL,
	[UpdateDate] [smalldatetime] NOT NULL,
 CONSTRAINT [PK_USER_PERSONAL_RANK] PRIMARY KEY CLUSTERED 
(
	[nRank] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [USER_PERSONAL_RANK] VALUES (1, N'Gold Knight', 0, N'', 0, 0, 0, N'', 0, 0, 0, CAST(N'2012-11-08T07:33:00' AS SmallDateTime))
INSERT [USER_PERSONAL_RANK] VALUES (2, N'Silver Knight', 0, N'', 0, 0, 0, N'', 0, 0, 0, CAST(N'2012-11-08T07:33:00' AS SmallDateTime))
INSERT [USER_PERSONAL_RANK] VALUES (3, N'Silver Knight', 0, N'', 0, 0, 0, N'', 0, 0, 0, CAST(N'2012-11-08T07:33:00' AS SmallDateTime))
GO
ALTER TABLE [USER_PERSONAL_RANK] ADD  CONSTRAINT [DF_USER_PERSONAL_RANK_nElmoCheck]  DEFAULT ((0)) FOR [nElmoCheck]
GO
ALTER TABLE [USER_PERSONAL_RANK] ADD  CONSTRAINT [DF_USER_PERSONAL_RANK_nKarusCheck]  DEFAULT ((0)) FOR [nKarusCheck]
GO
