/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2019 (15.0.2130)
    Source Database Engine Edition : Microsoft SQL Server Express Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2008 R2
    Target Database Engine Edition : Microsoft SQL Server Express Edition
    Target Database Engine Type : Standalone SQL Server
*/
ALTER TABLE [WAREHOUSE] DROP CONSTRAINT [DF_WAREHOUSE_dwTime]
GO
ALTER TABLE [WAREHOUSE] DROP CONSTRAINT [DF_WAREHOUSE_nMoney]
GO
/****** Object:  Table [WAREHOUSE]    Script Date: 26/05/2025 6:47:30 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[WAREHOUSE]') AND type in (N'U'))
DROP TABLE [WAREHOUSE]
GO
/****** Object:  Table [WAREHOUSE]    Script Date: 26/05/2025 6:47:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [WAREHOUSE](
	[strAccountID] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[nMoney] [int] NOT NULL,
	[dwTime] [int] NOT NULL,
	[WarehouseData] [varchar](1600) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[strSerial] [varchar](1600) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
 CONSTRAINT [PK_WAREHOUSE] PRIMARY KEY CLUSTERED 
(
	[strAccountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [WAREHOUSE] ADD  CONSTRAINT [DF_WAREHOUSE_nMoney]  DEFAULT ((0)) FOR [nMoney]
GO
ALTER TABLE [WAREHOUSE] ADD  CONSTRAINT [DF_WAREHOUSE_dwTime]  DEFAULT ((0)) FOR [dwTime]
GO
